<div class="container">
  <div class="card card-ecommerce">
  <!--Shopping Cart table-->
  <div class="table-responsive">
    <table class="table product-table">
      <!--Table head-->
      <thead class="mdb-color lighten-5">
      <tr>
        <th></th>
        <th class="font-weight-bold">Book</th>
        <th class="font-weight-bold">Seller</th>
        <th class="font-weight-bold">Condition</th>
        <th class="font-weight-bold">Price</th>
        <th></th>
      </tr>
      </thead>
      <!--/Table head-->

      <!--Table body-->
      <tbody>

      <!--First row-->
      <tr *ngFor="let listing of wishlist; let i of index;">
        <th scope="row">
          <img style="width: 180px; height:150px; " src="{{listing.book_image_url}}" alt="" class="img-fluid">
        </th>
        <td>
          <h5><strong>{{listing.book_name}}</strong></h5>
          <p class="text-muted">by {{listing.author_name}}</p>
        </td>
        <td>{{listing.user_name}}</td>
        <td>{{listing.condition}}</td>
        <td>{{listing.price}}</td>
        <td>
          <button type="button" class="btn btn-tb btn-primary waves-effect waves-light" (click) = "deleteWishlistItem(listing.id, $event)"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove book from wishlist">X
          </button>
        </td>
      </tr>
      <!--/First row-->

      </tbody>
      <!--/Table body-->
    </table>
  </div>
  <!--/Shopping Cart table-->
  </div>
</div>
