<div class="container">
<div class="row">
  <div class="col"></div>
  <div class="col">

<div class="card">

  <div class="modal-header light-blue darken-3 white-text">
    <h4 class="title text-center py-4">
      <i class="fa fa-pencil"></i> Login</h4>
  </div>

  <!-- Card body -->
  <div class="card-body">

    <!-- Material form register -->
    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">

      <!-- Material input email -->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input type="email" id="materialFormCardEmailEx" data-error="Please enter valid email ID!" formControlName="email" class="form-control" mdbInputDirective>
        <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
      </div>

      <br>

      <!-- Material input password -->
      <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        <input type="password" id="materialFormCardPasswordEx" data-error="Password is required!" formControlName="password" class="form-control"
               mdbInputDirective>
        <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button class="btn btn-cyan waves-light" [disabled]="loginForm.invalid" type="submit" mdbWavesEffect>Login</button>
      </div>
    </form>
    <!-- Material form register -->

  </div>
  <!-- Card body -->

</div>
<!-- Card -->
    </div>
  <div class="col"></div>
</div></div>
