<div class=" card cont">
  <div class="form sign-in">
    <div class="row justify-content-center">
      <div class="col"></div>

      <div class="col-6" style="margin-top: 8%;">
        <div class="divider-new" style="margin-bottom: 14%;">
          <h3 class="h3-responsive font-weight-bold blue-text mx-3">LOG IN</h3>
        </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)">

      <!-- Material input email -->
      <div class="md-form">
        <i class="fa fa-envelope prefix"></i>
        <input type="email" id="materialFormCardEmailEx" data-error="Please enter valid email ID!" formControlName="email" class="form-control" mdbInputDirective>
        <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
      </div>

      <br>

      <!-- Material input password -->
      <div class="md-form">
        <i class="fa fa-lock prefix"></i>
        <input type="password" id="materialFormCardPasswordEx" data-error="Password is required!" formControlName="password" class="form-control"
               mdbInputDirective>
        <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
      </div>

      <div class="text-center py-4 mt-3">
        <button class="btn btn-cyan waves-light" [disabled]="loginForm.invalid" type="submit" mdbWavesEffect>Login</button>
      </div>
    </form>
      </div>
    <div class="col-5"></div>
    </div>

  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img__btn">
        <span routerLink="/signup" style="cursor: pointer;" class="m--up">Sign Up</span>
      </div>
    </div>
  </div>
</div>
