<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col"></div>-->
<!--<div class="col-6">-->

<!--<div class="card">-->

<!--<div class="modal-header light-blue darken-3 white-text">-->
<!--<h4 class="title text-center py-4">-->
<!--<i class="fa fa-pencil"></i> Signup</h4>-->
<!--</div>-->

<!--&lt;!&ndash; Card body &ndash;&gt;-->
<!--<div class="card-body">-->

<!--&lt;!&ndash; Material form register &ndash;&gt;-->
<!--<form [formGroup]="signupForm" (ngSubmit)="submitForm(signupForm.value)">-->
<!--<div class="md-form">-->
<!--<i class="fa fa-envelope prefix"></i>-->
<!--<input type="text" id="materialFormCardNameEx" data-error="Please enter valid name!" formControlName="name" class="form-control" mdbInputDirective>-->
<!--<label for="materialFormCardEmailEx" class="font-weight-light">Your Name</label>-->
<!--</div>-->

<!--<br>-->

<!--<div class="md-form">-->
<!--<i class="fa fa-envelope prefix"></i>-->
<!--<input type="email" id="materialFormCardEmailEx" data-error="Please enter valid email ID!" formControlName="email" class="form-control" mdbInputDirective>-->
<!--<label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>-->
<!--</div>-->

<!--<br>-->

<!--<div class="md-form">-->
<!--<i class="fa fa-lock prefix"></i>-->
<!--<input type="text" id="materialFormCardContactEx" data-error="Please enter valid contact number!" formControlName="contact" class="form-control"-->
<!--mdbInputDirective>-->
<!--<label for="materialFormCardContactEx" class="font-weight-light">Your contact number</label>-->
<!--</div>-->

<!--<br>-->

<!--<div class="md-form">-->
<!--<i class="fa fa-lock prefix"></i>-->
<!--<input type="text" id="materialFormCardCollegeEx" formControlName="college" class="form-control"-->
<!--mdbInputDirective>-->
<!--<label for="materialFormCardCollegeEx" class="font-weight-light">Your college</label>-->
<!--</div>-->
<!--<br>-->
<!--<div class="md-form">-->
<!--<i class="fa fa-lock prefix"></i>-->
<!--<input type="text" id="materialFormCardAddressEx" formControlName="address" class="form-control"-->
<!--mdbInputDirective>-->
<!--<label for="materialFormCardAddressEx" class="font-weight-light">Your address</label>-->
<!--</div>-->
<!--<br>-->
<!--<div class="md-form">-->
<!--<i class="fa fa-lock prefix"></i>-->
<!--<input type="password" id="materialFormCardPasswordEx" data-error="Password is required!" formControlName="password" class="form-control"-->
<!--mdbInputDirective>-->
<!--<label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>-->
<!--</div>-->
<!--<br>-->

<!--<div class="md-form">-->
<!--<i class="fa fa-exclamation-triangle prefix grey-text"></i>-->
<!--<input type="password" id="materialFormCardConfirmEx" formControlName="confirmPassword" class="form-control" mdbInputDirective>-->
<!--<label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your password</label>-->
<!--</div>-->

<!--<div class="text-center py-4 mt-3">-->
<!--<button class="btn btn-cyan waves-light" [disabled]="signupForm.invalid" type="submit" mdbWavesEffect>Sign up</button>-->
<!--</div>-->
<!--</form>-->
<!--&lt;!&ndash; Material form register &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; Card body &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; Card &ndash;&gt;-->
<!--</div>-->
<!--<div class="col"></div>-->
<!--</div></div>-->

<div class=" card cont">
  <div class="form sign-in">
    <div class="row justify-content-center">
      <div class="col"></div>

      <div class="col-6" style="margin-top: 4%;">
        <div class="divider-new" style="margin-bottom: 10%;">
          <h3 class="h3-responsive font-weight-bold blue-text mx-3">SIGN UP</h3>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="submitForm(signupForm.value)">
          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="materialFormCardNameEx" data-error="Please enter valid name!" formControlName="name" class="form-control" mdbInputDirective>
            <label for="materialFormCardNameEx" class="font-weight-light">Your Name</label>
          </div>

          <br>

          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="email" id="materialFormCardEmailEx" data-error="Please enter valid email ID!" formControlName="email" class="form-control" mdbInputDirective>
            <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
          </div>

          <br>

          <div class="md-form">
            <i class="fa fa-phone prefix"></i>
            <input type="text" id="materialFormCardContactEx" data-error="Please enter valid contact number!" formControlName="contact" class="form-control"
                   mdbInputDirective>
            <label for="materialFormCardContactEx" class="font-weight-light">Your contact number</label>
          </div>

          <br>

          <div class="md-form">
            <i class="fa fa-graduation-cap prefix"></i>
            <input type="text" id="materialFormCardCollegeEx" formControlName="college" class="form-control"
                   mdbInputDirective>
            <label for="materialFormCardCollegeEx" class="font-weight-light">Your college</label>
          </div>
          <br>
          <div class="md-form">
            <i class="fa fa-map-marker prefix"></i>
            <input type="text" id="materialFormCardAddressEx" formControlName="address" class="form-control"
                   mdbInputDirective>
            <label for="materialFormCardAddressEx" class="font-weight-light">Your address</label>
          </div>
          <br>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="materialFormCardPasswordEx" data-error="Password is required!" formControlName="password" class="form-control"
                   mdbInputDirective>
            <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
          </div>

          <!--<div class="md-form">-->
            <!--<i class="fa fa-exclamation-triangle prefix grey-text"></i>-->
            <!--<input type="password" id="materialFormCardConfirmEx" formControlName="confirmPassword" class="form-control" mdbInputDirective>-->
            <!--<label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your password</label>-->
          <!--</div>-->

          <div class="text-center py-4 mt-3">
            <button class="btn btn-cyan waves-light" [disabled]="signupForm.invalid" type="submit" mdbWavesEffect>Sign up</button>
          </div>
        </form>
      </div>
      <div class="col-5"></div>
    </div>

  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>One of us?</h2>
        <p>  If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span routerLink="/signin" style="cursor: pointer;" class="m--up">SIGN IN</span>
      </div>
    </div>
  </div>
</div>
