<header>
  <!-- Intro Section -->
  <div class="view  jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../../assets/new_list_back.png');">
    <div class="full-bg-img mask rgba-purple-slight">
      <div class="container flex-center">

            <div class="card col-6  wow fadeInRight" data-wow-delay="0.3s">
              <div class="divider-new" style="margin-bottom: 2%;">
                <h3 class="h3-responsive font-weight-bold blue-text mx-3">CREATE NEW LISTING</h3>
              </div>
              <form  [formGroup]="newListingForm" (ngSubmit)="createListing(newListingForm.value)">
                <div class="md-form">
                  <i class="fa fa-book prefix"></i>
                  <input type="text" id="materialFormCardNameEx" data-error="Please enter valid name!" formControlName="book_name" class="form-control" mdbInputDirective>
                  <label for="materialFormCardNameEx" class="font-weight-light">Book Name</label>
                </div>

                <div class="md-form">
                  <i class="fa fa-user prefix"></i>
                  <input type="email" id="materialFormCardUserEx" data-error="Please enter valid author name!" formControlName="author_name" class="form-control" mdbInputDirective>
                  <label for="materialFormCardUserEx" class="font-weight-light">Author Name</label>
                </div>

                <div class="md-form">
                  <i class="fa fa-rupee prefix"></i>
                  <input type="text" id="materialFormCardPriceEx" data-error="Please enter valid amount!" formControlName="price" class="form-control"
                         mdbInputDirective>
                  <label for="materialFormCardPriceEx" class="font-weight-light">Price</label>
                </div>
                <br>
                <div class="md-form">
                  <mat-select placeholder="Select Condition" formControlName="condition" class="form-control" mdbInputDirective>
                    <mat-option *ngFor="let condition of conditions" [value]="condition">
                      {{condition}}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="md-form">
                  <input style="display: none;" type="file" id="materialFormCardImageEx"  (change)="onFileSelected($event)"  id="image" formControlName="image" class="form-control" #fileInput>
                  <span style="display: flex; justify-content: space-between;" >
                    <button style="width:200px; height: 50px;" class="btn btn-cyan waves-light" type="button" (click)="fileInput.click()"><i class="fa fa-image"></i> Pick Image File</button><span><img id="imagePreview"  style="height: 150px; width: 200px;" src="../../assets/preview_box.png"><figcaption>Image Preview</figcaption></span>
                  </span>

                </div>

                <div class="text-center py-4 mt-3">
                  <button class="btn btn-cyan waves-light" [disabled]="newListingForm.invalid" type="submit" mdbWavesEffect>Create Listing</button>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>

</header>
<!--Main Navigation-->


